.navbar a{
    color: darkgray;;
    text-transform: uppercase;
}
.navbar a .active{
    color: #72AEC8;
}
.breadcrumb a{
    color: black !important;
    text-decoration: none;
    font-size: 20px;
}
.breadcrumb a:hover{
    color: #72AEC8 !important;
    text-decoration: 1px solid red underline;
    text-underline-offset: 5px;
}
input[type=search]{
    background-image: url('images/search-icon.png');
    background-repeat: no-repeat;
    /* background-position: right 14px center; */
    background-position: 1080px;
    background-size: 25px;
    padding: 10px;
}
/* .carousel-control-next{
    color: black;
    size: 20px;
}

.carousel-control-prev{
    color: black;
    size: 20px;
}

.carousel-control-prev-icon{
    filter: invert(1);
}

.carousel-control-next-icon{
    filter: invert(1);
} */

.card .btn:hover
{
    background-color: #72AEC8;
    border:2px solid #72AEC8;
}
.card .card-text
{
    color: #72AEC8;
}
.card .b 
{
    display: none;
}
.card:hover .b
{
    display: block;
}
.btn1{
    background-color: #72AEC8;
    color: white;
    border: 2px solid #72AEC8;
}
.insta{
    margin-top: 150px;
    margin-left: -150px;
    color: white;
    /* display: none; */
}
/* .insta img:hover .fa-instagram{
    display: block ;
} */